/* 1 */

@font-face {
  font-family: "futura-medium";
  src: local("futura-medium"), url("./fonts/FuturaPT-Medium.eot");
  src: local("futura-medium"),
    url("./fonts/FuturaPT-Medium.eot") format("embedded-opentype"),
    local("futura-medium"), url("./fonts/FuturaPT-Medium.woff2") format("woff2"),
    local("futura-medium"), url("./fonts/FuturaPT-Medium.woff") format("woff"),
    local("futura-medium"),
    url("./fonts/FuturaPT-Medium.ttf") format("truetype"),
    local("futura-medium"),
    url("./fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
